.image img{
    width: 200px;
    height: 200px;
}

.image{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:5px;
    border: 1px solid #000000;
}